*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
SeedlingOnlineJudge/SeedlingOnlineJudge/Debug/
SeedlingOnlineJudge/SeedlingOnlineJudge/DebugPublic/
SeedlingOnlineJudge/SeedlingOnlineJudge/Release/
SeedlingOnlineJudge/SeedlingOnlineJudge/Releases/
SeedlingOnlineJudge/SeedlingOnlineJudge/x64/
SeedlingOnlineJudge/SeedlingOnlineJudge/x86/
SeedlingOnlineJudge/SeedlingOnlineJudge/build/
SeedlingOnlineJudge/SeedlingOnlineJudge/bld/
SeedlingOnlineJudge/SeedlingOnlineJudge/bin/
SeedlingOnlineJudge/SeedlingOnlineJudge/obj/
SeedlingOnlineJudge/SeedlingOnlineJudge/msbuild.log
SeedlingOnlineJudge/SeedlingOnlineJudge/msbuild.err
SeedlingOnlineJudge/SeedlingOnlineJudge/msbuild.wrn

# Visual Studio 2015
SeedlingOnlineJudge/.vs/